/*
 Theme Name:           nomeko-20ct
 Theme URI:            http://nomeko.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.1
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/

@import "partials/variables";

// #site-header {
// 	background-color: #ffffff !important;
// }

.home {
	.post-inner {
		padding-top: 0px !important;
	}

	.header_blocks {
		padding-bottom: 10rem;
	}
}

.header_blocks {
	color: #fff;
	box-shadow: 0px -10px 0px 0px $color-nomeko-main;
	margin-top: 10px;

	a, h3 {
		color: #fff;
		&:hover {
			opacity: 0.8;
			color: $color-nomeko-grey;
		}
	}

	.container-fluid {
		padding: 0px;

		@media (min-width: $screen-xlarge) {
      max-width: $screen-large;
    }
	}

	.overlay {
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background: $color-nomeko-main-opa;
		top: 0;
	}

	#svets.overlay {
	  background: -webkit-linear-gradient(to right, $color-nomeko-darker-opa, $color-nomeko-opa-light);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, $color-nomeko-darker-opa, $color-nomeko-opa-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	#svarv.overlay {
	  background: -webkit-linear-gradient(to right, $color-nomeko-complement-opa, $color-nomeko-opa-light);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, $color-nomeko-complement-opa, $color-nomeko-opa-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	#robot.overlay {
	  background: -webkit-linear-gradient(to right, $color-nomeko-main-opa, $color-nomeko-opa-light);  /* Chrome 10-25, Safari 5.1-6 */
	  background: linear-gradient(to right, $color-nomeko-main-opa, $color-nomeko-opa-light); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	}

	h3 {
		text-transform: uppercase;
		font-size: 16px;
		font-weight: $font-weight-bolder;
		padding: 50px 40px 10px 40px;
		margin: 0px;
	}

	.text {
		padding: 0px 40px 20px 40px;
		margin: 0px;
		font-size: 14px;
		line-height: 18px;
		text-shadow: #000000 0px 0px 10px;
	}

	@media (min-width: $screen-large) {
		h3, .text {
			padding-left: 60px;
			padding-right: 60px;
			font-size: 100%;
			line-height: 108%;
		}
	}

}

.wpmtst-simple {
	// background: $color-nomeko-lightgrey;

	.testimonial-inner {
		background: #fff;
		h3, .testimonial-heading {
			font-size: 0.9em;
			min-height: 46px;
		}
		.testimonial-content {
			display: block;
			p {
				font-size: 0.8em;
				margin-bottom: 10px !important;
			}
			.testimonial-image {
				min-height: 225px;
			}
		}
		.testimonial-field {
			font-size: 0.9em;
			font-weight: bold;
			width: 100%;
			display: table-row;
    	text-align: left;
		}
	}

}

.footer-widgets-wrapper {
	.column-one {
		.footer-widget-text {
			color: #fff;
			font-size: 14px;

			.footer-widget-rubrik {
				text-transform: uppercase;
				font-weight: $font-weight-bold;
				color: $color-nomeko-complement;
				padding-top: 10px;
			}

		}
	}
	.column-two {
		.widget.widget_media_image {
		    display: inline-block;
		    vertical-align: top;
		}
	}
}




.entry-header {
	margin: 0px auto 3rem;
	padding-bottom: 10px !important;
}

h1, h2, h3, h4, h5, .entry-title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: $color-nomeko-main;
}

h1, .entry-title {
	font-size: 4.8rem;
	text-align: left;
	font-weight: bold;
}

h2 {
	font-size: 4.2rem;
	font-weight: bold;
}

h3 {
	font-size: 3.3rem;
	font-weight: bold;
}
