@charset "UTF-8";
/*
 Theme Name:           nomeko-20ct
 Theme URI:            http://nomeko.se/
 Description:          A child theme of Twenty Twenty WordPress theme.
 Author:               Karl Lettenström
 Author URI:           https://kprl.se
 Template:             twentytwenty
 Version:              1.0.1
 License:              GNU General Public License v2 or later
 License URI:          http://www.gnu.org/licenses/gpl-2.0.html
*/
.home .post-inner {
  padding-top: 0px !important;
}

.home .header_blocks {
  padding-bottom: 10rem;
} 

.header_blocks {
  color: #fff;
  -webkit-box-shadow: 0px -10px 0px 0px #1d3662;
  box-shadow: 0px -10px 0px 0px #1d3662;
  margin-top: 10px;
}

.header_blocks a, .header_blocks h3 {
  color: #fff;
}

.header_blocks a:hover, .header_blocks h3:hover {
  opacity: 0.8;
  color: #c7cdd2;
}

.header_blocks .container-fluid {
  padding: 0px;
}

@media (min-width: 1640px) {
  .header_blocks .container-fluid {
    max-width: 1280px;
  }
}

.header_blocks .overlay {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(29, 54, 98, 0.9);
  top: 0;
}

.header_blocks #svets.overlay {
  background: -webkit-linear-gradient(to right, rgba(24, 24, 24, 0.8), rgba(255, 255, 255, 0.3));
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(24, 24, 24, 0.8)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(left, rgba(24, 24, 24, 0.8), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(left, rgba(24, 24, 24, 0.8), rgba(255, 255, 255, 0.3));
  background: linear-gradient(to right, rgba(24, 24, 24, 0.8), rgba(255, 255, 255, 0.3));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header_blocks #svarv.overlay {
  background: -webkit-linear-gradient(to right, rgba(238, 6, 6, 0.75), rgba(255, 255, 255, 0.3));
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(238, 6, 6, 0.75)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(left, rgba(238, 6, 6, 0.75), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(left, rgba(238, 6, 6, 0.75), rgba(255, 255, 255, 0.3));
  background: linear-gradient(to right, rgba(238, 6, 6, 0.75), rgba(255, 255, 255, 0.3));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header_blocks #robot.overlay {
  background: -webkit-linear-gradient(to right, rgba(29, 54, 98, 0.9), rgba(255, 255, 255, 0.3));
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 54, 98, 0.9)), to(rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(left, rgba(29, 54, 98, 0.9), rgba(255, 255, 255, 0.3));
  background: -o-linear-gradient(left, rgba(29, 54, 98, 0.9), rgba(255, 255, 255, 0.3));
  background: linear-gradient(to right, rgba(29, 54, 98, 0.9), rgba(255, 255, 255, 0.3));
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header_blocks h3 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  padding: 50px 40px 10px 40px;
  margin: 0px;
}

.header_blocks .text {
  padding: 0px 40px 20px 40px;
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
  text-shadow: #000000 0px 0px 10px;
}

@media (min-width: 1280px) {
  .header_blocks h3, .header_blocks .text {
    padding-left: 60px;
    padding-right: 60px;
    font-size: 100%;
    line-height: 108%;
  }
}

.wpmtst-simple .testimonial-inner {
  background: #fff;
}

.wpmtst-simple .testimonial-inner h3, .wpmtst-simple .testimonial-inner .testimonial-heading {
  font-size: 0.9em;
  min-height: 46px;
}

.wpmtst-simple .testimonial-inner .testimonial-content {
  display: block;
}

.wpmtst-simple .testimonial-inner .testimonial-content p {
  font-size: 0.8em;
  margin-bottom: 10px !important;
}

.wpmtst-simple .testimonial-inner .testimonial-content .testimonial-image {
  min-height: 225px;
}

.wpmtst-simple .testimonial-inner .testimonial-field {
  font-size: 0.9em;
  font-weight: bold;
  width: 100%;
  display: table-row;
  text-align: left;
}

.footer-widgets-wrapper .column-one .footer-widget-text {
  color: #fff;
  font-size: 14px;
}

.footer-widgets-wrapper .column-one .footer-widget-text .footer-widget-rubrik {
  text-transform: uppercase;
  font-weight: 600;
  color: #ee0606;
  padding-top: 10px;
}

.footer-widgets-wrapper .column-two .widget.widget_media_image {
  display: inline-block;
  vertical-align: top;
}

.entry-header {
  margin: 0px auto 3rem;
  padding-bottom: 10px !important;
}

h1, h2, h3, h4, h5, .entry-title {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #1d3662;
}

h1, .entry-title {
  font-size: 4.8rem;
  text-align: left;
  font-weight: bold;
}

h2 {
  font-size: 4.2rem;
  font-weight: bold;
}

h3 {
  font-size: 3.3rem;
  font-weight: bold;
}
