// COLORS
$color-nomeko-main:           #1d3662;
$color-nomeko-main-opa:       rgba($color-nomeko-main, 0.90);
$color-nomeko-second:         #f7f3ef;
$color-nomeko-complement:     #ee0606; //#ff8000;
$color-nomeko-complement-opa: rgba($color-nomeko-complement, 0.75);
$color-nomeko-opa-white:      rgba(255, 255, 255, 0.90);
$color-nomeko-opa-lightgrey:  rgba(250, 249, 249, 0.95);
$color-nomeko-light:          #ededed;
$color-nomeko-opa-light:      rgba(255, 255, 255, 0.3);
$color-nomeko-dark:           #2b303b;
$color-nomeko-darker:         #181818;
$color-nomeko-darker-opa:     rgba($color-nomeko-darker, 0.80);
$color-nomeko-black:          #000000;
$color-nomeko-grey:           #c7cdd2;
$color-nomeko-lightgrey:      #f4f4f4;
$color-nomeko-sandbeige:      #eae6de;
$color-nomeko-beige:          rgba(234, 233, 210, 1);
$color-nomeko-opa-beige:      rgba(190, 190, 190, 0.3);

// TEXT
$font-weight-light:    300;
$font-weight-regular:  500;
$font-weight-bold:     600;
$font-weight-bolder:   700;
$font-weight-heavy:    800;

$font-size-xx-small:   10px;
$font-size-x-small:    11px;
$font-size-small:      14px;
$font-size-regular:    16px;
$font-size-large:      20px;
$font-size-x-large:    24px;
$font-size-xx-large:   34px;
$font-size-xxx-large:  40px;
$font-size-mega:       80px;

$text-color:        $color-nomeko-dark;
$base-font-size:    $font-size-regular;
$base-font-family:  Helvetica, Arial, sans-serif;
$base-font-weight:  $font-weight-regular;
$base-line-height:  1.6;

// RESOLUTIONS
$mobile-small:    240px;
$mobile-large:    320px;
$mobile-iphoneX:  812px;
$tablet-small:    480px;
$tablet-large:    768px;
$screen-small:    1024px;
$screen-large:    1280px;
$screen-xlarge:   1640px;

// MISC
$base-transition-time:     0.2s;
$header-footer-overlap:    3rem;
$header-footer-border:     1px solid $color-nomeko-grey;
